<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>

    <!-- AWS SDK -->
    <script type="text/javascript" src="/bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-newspaper-o classified-icon"></i>Classified Ads</h3>
              </div>
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="x_panel" style="padding:23px 25px;">
                <div class="row">
                  <div class="col-lg-9 col-md-10 col-sm-9 col-xs-12">

                    <div class="x_panel" style="padding:10px 26px">

                      <form id="demo-form" data-parsley-validate>
                        <p class="classified_options">

                          <span class="selected"><input type="radio" class="flat selected" name="isOffering" id="label2" value="1" checked="" required/>
                            I am Offering</span>

                          <span><input type="radio" class="flat" name="isOffering" id="label3" value="0"/>
                            I Need</span>
                        </p>

                      </form>

                      <div class="row">
                        <form>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group classified-category">
                              <label for="new-classified-category">Category</label>
                              <select class="form-control" id="new-classified-category" name='category'>
                                <option selected disabled>Please Select</option>
                                <% categoryList.forEach(function (cat) { %>
                                  <option value="<%= cat %>"><%= cat %></option>
                                <% }); %>
                              </select>
                            </div>
                          </div>

                          <div class="clearfix"></div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="new-classified-title">Title</label>
                            <input type="text" class="form-control" id="new-classified-title" placeholder="Title">
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="new-classified-price">Price</label>
                            <input type="number" class="form-control" id="new-classified-price" placeholder="Rs.">
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="fullname">Phone</label>
                            <input type="text" class="form-control" id="new-classified-phone" placeholder="Phone Number">
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="fullname">Email</label>
                            <input type="email" class="form-control" id="new-classified-email" placeholder="Enter Email">
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="new-classified-from">From</label>
                            <input type="text" class="form-control has-feedback-left datetimepicker" id="new-classified-from" placeholder="Select Date" >
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true" style="top:23px;"></span>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label for="fullname">Valid Till</label>
                            <input type="text" class="form-control has-feedback-left datetimepicker" id="new-classified-valid-till" placeholder="Select Date" >
                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true" style="top:23px;"></span>
                          </div>

                          <span id="upload-file-txt">Upload File (Max 3 Files allowed)</span><br/> <label class="btn btn-primary upload-classified" for="my-file-selector"> <input id="my-file-selector" type="file" style="display:none;" multiple> <i class="fa fa-upload"
                          style="padding-right:9px;"></i>Upload File </label>
                          <div id="preview-file-list"></div>

                          <div class="col-xs-12 form-group">
                            <label for="heard">Description</label>
                            <textarea id="new-classified-details" class="form-control" name="fullname" required rows="5" placeholder="Details"></textarea>

                            <div class="text-center" style="margin-top:18px">
                              <button id="cancel-btn" class="btn btn-primary">Cancel</button>
                              &nbsp;
                              <button id="save-btn" class="btn btn-success">Send</button>
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>
                    <!-- x_panel -->
                  </div>
                </div>
              </div>
              <!-- X_panel  -->
            </div>

            <!-- /page content -->

          </div>
          <!-- main container -->
        </div>
        <!-- container body -->

        <%- include('../common/javascripts'); %>

        <script type="text/javascript">
          // $('.file-inp-img').click(function(e) {
          //   $(this).prev('.file-inp').click(); // simulate click on input[type=file] when clicking on placeholder phot
          // });
          //
          // function readURL(input) {
          //     if (input.files && input.files[0]) {
          //         var reader = new FileReader();
          //         reader.onload = function (e) {
          //             // $('#image_upload_preview').attr('src', e.target.result);
          //             the_url = event.target.result;
          //             $("#preview-file-list").append("<img class='img img-responsive' src='" + the_url + "'/>")
          //         }
          //         reader.readAsDataURL(input.files[0]);
          //     }
          // }
          //
          // $("#my-file-selector").change(function () {
          //     readURL(this);
          // });
          // $('#my-file-selector').change(function() { // show preview of selected photo
          //   // var fileInp = this;
          //   var fileList = $("#my-file-selector")[0].files;
          //   var num = fileList.length;
          //   var filesToUl = [fileList[num-1], fileList[num-2], fileList[num-3]];
          //   var reader = new FileReader();
          //   reader.onload = function(event) {
          //     the_url = event.target.result;
          //     $("#preview-file-list").append("<img class='img img-responsive' src='" + the_url + "'/>")
          //     // $(fileInp).next('.file-inp-img').html("<img class='img img-responsive' src='" + the_url + "'/>")
          //   }
          //   // filesToUl.forEach(function (f) {
          //   //   reader.readAsDataURL(f);
          //   // })
          //
          // })

          // AWS Config
          var tempCreds = {
            accessKeyId: '<%= tempCreds.AccessKeyId %>',
            secretAccessKey: '<%= tempCreds.SecretAccessKey %>',
            sessionToken: '<%= tempCreds.SessionToken %>'
          }
          AWS.config.update(tempCreds);
          // Configure your region
          AWS.config.region = '<%= awsRegion %>';
          var bucket = new AWS.S3({
            params: {
              Bucket: '<%= awsImageBucketName %>'
            }
          });

          var ulImgToAWS = function(key, file, cb) {
            if (!file || !key)
              cb("AWS UL Error: Either no File OR no Key!!", null);
            var params = {
              Key: key,
              ContentType: file.type,
              Body: file
            };
            bucket.upload(params, function(err, data) {
              if (err) {
                // alert("Error Uploading File to AWS!!");
                console.log("Error Uploading File to AWS: %o", err);
                cb("Error Uploading File to AWS", null);
              }
              console.log(data);
              cb(null, data);
            });
          }

          var bulkUlImages = function (key, fileList, cb) { // HACK!! HACK!! HACK!!
            ulImgToAWS(key+'_1', fileList[0], function (err0, resp0) {
              ulImgToAWS(key+'_2', fileList[1], function (err1, resp1) {
                ulImgToAWS(key+'_3', fileList[2], function (err2, resp2) {
                  if (err0 || err1 || err2) {
                    cb("ERROR: Unable to UL at least one img to aws!");
                  } else {
                    cb(null);
                  }
                })
              })
            })
          }

          $(document).ready(function() {
            $(".datetimepicker").datetimepicker({format: 'DD/MM/YYYY HH:mm'});

            // POST new classified
            var postNewClassified = function(data) {
              $.ajax({
                url: "/admin/classified",
                method: "POST",
                data: data,
                success: function(result) {
                  if (result.error) {
                    alert('oops')
                  } else {
                    // UL img files to aws
                    var fileList = $("#my-file-selector")[0].files;
                    var num = fileList.length;
                    var filesToUl = [fileList[num-1], fileList[num-2], fileList[num-3]]; // Last 3 files chosen
                    var key = result.data.id;
                    bulkUlImages(key, filesToUl, function (err) {
                      if (err) {
                        console.log(err);
                      } else {
                        // alert('yaay')
                        console.log('yaay');
                      }
                      window.location.href = '/admin/classified'
                    })
                  }
                }
              });
            };
            $("#save-btn").click(function(e) {
              e.preventDefault();

              // Validations
              var titleV = $('#new-classified-title').val();
              var emailV = $('#new-classified-email').val();
              var validTillV = $('#new-classified-valid-till').val();
              var categoryV = $('select[name="category"]').val();
              if (!validateRequired(titleV) || !validateRequired(emailV) || !validateRequired(categoryV)) {
                new PNotify({
                  title: 'Validation Failed',
                  text: 'Title, Category & Email are Mandatory!',
                  type: 'error'
                });
                return false;
              }
              if (!validateRequired(validTillV)) {
                new PNotify({
                  title: 'Validation Failed',
                  text: 'Please enter a Valid Till date',
                  type: 'error'
                });
                return false;
              }
              if (!validateEmail(emailV)) {
                new PNotify({
                  title: 'Validation Failed',
                  text: 'Please enter a proper Email',
                  type: 'error'
                });
                return false;
              }
              // /end Validations

              $(this).prop('disabled', true);
              $(this).html('Saving... <i class="fa fa-spin fa-spinner"></i>');
              var data = {
                isOffering: $("input[name='isOffering']:checked").val(),
                category: $("#new-classified-category").val(),
                title: $('#new-classified-title').val(),
                price: $('#new-classified-price').val(),
                contactPhone: $('#new-classified-phone').val(),
                contactEmail: $('#new-classified-email').val(),
                from: $('#new-classified-from').val(),
                validTill: $('#new-classified-valid-till').val(),
                description: $('#new-classified-details').val()
              }

              // console.log(data); return;
              postNewClassified(data);
              // $("#modal-add-notice").modal('hide');
            })
            $("#cancel-btn").click(function(e) {
              // window.location.reload();
              window.history.back();
            })
          });
        </script>

        <!-- PNotify -->
        <!--
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
          -->
        <!-- PNotify -->

        <!-- Custom Notification -->
        <!-- /Custom Notification -->
      </body>
    </html>
