<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin Profile Page</title>

    <%- include('../common/stylesheets'); %>
    <!-- AWS SDK -->
    <script type="text/javascript" src="/bower_components/aws-sdk/dist/aws-sdk.min.js"></script>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:60%">
                <h3>
                  <i class="fa fa-user profile-icon"></i>My Profile</h3>
              </div>
              <div class="pull-right">
                <button type="button" id="click-to-change-password-btn" class="btn btn-warning" style="margin-top: 7px;">Change Login Password</button>
              </div>
              <!--
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div> <!-- title right -->
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">

              <div class="clearfix"></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <div class="x_panel">

                    <div class="x_content" style="padding-top:13px;">
                      <div class="col-md-3 col-sm-3 col-xs-4 profile_left">

                        <div class="upload-document" style="margin-bottom:5px;">
                          <form action="form_upload.html" class="dropzone">
                            <input type='file' id='admin-photo' class='file-inp' style="display: none;">
                            <div class="dz-default dz-message file-inp-img">
                              <img src="<%= user.awsProfilePicURL %>" class="img-responsive" onError="setPlaceholder()"/>
                            </div>
                          </form>
                        </div>

                      </div>
                      <!-- profile_left -->

                      <div class="col-md-9 col-sm-9 col-xs-12">

                        <form id="edit_form" class="form-horizontal form-label-left input_mask">

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label>First Name</label>
                            <input type="text" class="form-control has-feedback-left" name="name" value="<%= user.name ? user.name : '' %>" placeholder="Enter Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true" style="top:22px;"></span>
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control has-feedback-left" name="contactPhone" value="<%= user.contactPhone ? user.contactPhone : '' %>" placeholder="Enter Number">
                            <span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true" style="top:22px; font-size:18px;"></span>
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label>Email Address</label>
                            <input type="text" class="form-control has-feedback-left" name="contactEmail" value="<%= user.contactEmail ? user.contactEmail : '' %>"  placeholder="Enter Email">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true" style="top:22px;"></span>
                          </div>
                          <div class="clearfix"></div>
                          <div class="text-center add-profile">
                            <button class="btn btn-success" type="submit">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- x_panel -->
                  </div>
                </div>

              </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <!--
                 <footer>
                     <div class="pull-right">
                         Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                     </div>
                     <div class="clearfix"></div>
                 </footer>
               -->
            <!-- /footer content -->
          </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>
      </div>
      <!-- main container -->
    </div>
    <!-- container body -->

    <%- include('../common/javascripts'); %>
    <script type="text/javascript" src="/vendors/serializejson.min.js"></script>

    <script type="text/javascript">
      var setPlaceholder = function () {
        $('.file-inp-img').html('<i id="uploading-placeholder" class="fa fa-user-plus"></i>')
      }

      $('.file-inp-img').click(function(e) {
        $(this).prev('.file-inp').click(); // simulate click on input[type=file] when clicking on placeholder phot
      });

      $('.file-inp').change(function() { // show preview of selected photo
        var fileInp = this;
        var reader = new FileReader();
        reader.onload = function(event) {
          the_url = event.target.result
          $(fileInp).next('.file-inp-img').html("<img class='img img-responsive' src='" + the_url + "'/>")
        }
        reader.readAsDataURL(this.files[0]);

      })

      // AWS Config
      var tempCreds = {
        accessKeyId: '<%= tempCreds.AccessKeyId %>',
        secretAccessKey: '<%= tempCreds.SecretAccessKey %>',
        sessionToken: '<%= tempCreds.SessionToken %>'
      }
      AWS.config.update(tempCreds);
      // Configure your region
      AWS.config.region = '<%= awsRegion %>';
      var bucket = new AWS.S3({
        params: {
          Bucket: '<%= awsImageBucketName %>'
        }
      });

      var ulImgToAWS = function(key, file, cb) {
        if (!file || !key)
          cb("AWS UL Error: Either no File OR no Key!!", null);
        var params = {
          Key: key,
          ContentType: file.type,
          Body: file
        };
        bucket.upload(params, function(err, data) {
          if (err) {
            // alert("Error Uploading File to AWS!!");
            console.log("Error Uploading File to AWS: %o", err);
            cb("Error Uploading File to AWS", null);
          }
          console.log(data);
          cb(null, data);
        });
      }

      var $edit_form = $('#edit_form');
      $edit_form.submit(function(e) {
        e.preventDefault();
        var formData = $(this).serializeJSON();
        var imgFile = $("#admin-photo")[0].files[0];

        console.log(formData);

        $.ajax({
          method: "POST",
          url: "/admin/profile",
          data: formData,
          success: function(data) {
            if (!data.error) {
              // alert('Saved');
              console.log();
              var key = '<%= user.id %>';
              ulImgToAWS(key, imgFile, function (err, awsResp) {
                if (err) {
                  // alert('Failed uploading image to AWS');
                  console.log('Failed uploading image to AWS: ', err);
                }
                window.location.reload();
              })
            }
          },
          error: function(err) {
            console.log(err);
          },
          complete: function() {}
        });
      });

      $("#click-to-change-password-btn").click(function (e) {
        var self = this;
        var newPass = prompt("Enter New Login Password (PlainText):");
        if (newPass === undefined || newPass === null || newPass.trim() === "") {
          return false;
        } else {
          $(self).prop("disabled", true);
          $.ajax({
            url: '/admin/changeownpass',
            method: 'PUT',
            data: {newPass: newPass},
            success: function (data) {
              $(self).prop("disabled", false);
              if (!data.error) {
                // alert('Successfully saved');
                new PNotify({
                  title: "Successfully Updated Login Password!",
                  type: 'success'
                })
                // window.location.href = '/superadmin/society/' + data.societyId;
              } else {
                console.log(data);
                new PNotify({
                  title: "Error Updating Login Password!",
                  type: error
                })
              }
            }
          })
        }
      });
    </script>
  </body>
</html>
